.header{
    font-family: Inconsolata;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 25px;
letter-spacing: -0.08em;
text-transform: uppercase;
color: #333333;
}
body{
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: calc(24px + 16 * (100vw / 1440));
    margin-top: calc( 20+ 53 * (100vw / 1440));

}
.main{
    display: flex;
    flex-wrap: wrap;
}
.imgContainer{
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 238px;
width:287px;
border-radius: 0px;

}

.texte{
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60vh;

}

.titre{
    width: calc(350px + 236 * (100vw / 1440));
    font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: calc(48px + 16 * (100vw / 1440));
line-height: calc(71px + 24 * (100vw / 1440));
letter-spacing: -0.035em;

/* Gray 1 */

color: #333333;

}

.sousTitre{
    width: calc(321px + 51 * (100vw / 1440));;
    font-family: Space Mono;
font-style: normal;
font-weight: normal;
font-size: calc(18px + 6 * (100vw / 1440));
line-height: calc(27px + 9 * (100vw / 1440));
letter-spacing: -0.035em;

/* Gray 2 */

color: #4F4F4F;
}

.bouton{
    background: #333333;
    width: 216px;
display: flex;
justify-content: center;
text-align: center;

}
.texteBouton{
    width: 140px;
height: 21px;
    font-family: Space Mono;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 21px;
/* identical to box height */

letter-spacing: -0.035em;
text-transform: uppercase;

color: #FFFFFF;
}

.bot{
    text-align: center;
}

@media (min-width:800px) and (max-width:1440px){
    img{
        height: 342px;
    width:413px;
    border-radius: 0px;
    
    }
}

@media (min-width:1440px){
    img{
        height: 447.4263916015625px;
        width: 539.2236938476562px;
        left: 77px;
        top: 265px;
        border-radius: 0px;
        
    
    }
}